<nav class="navbar">
    <p class="navbar-brand "><a href="{% url 'home' %}"> TodoApp</a></p>   

    {% if request.user.is_authenticated %}
        <p id="welcome-user">Welcome, <b>{{ request.user.full_name }}</b></p>
    {% else %}
        <p id="welcome-user">Welcome, <b>Guest!</b></p>
    {% endif %}

    <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-outline-primary link" href="{% url 'home' %}" role="button">Home</a>

        {% if request.user.is_authenticated %}
            
            <a class="btn btn-outline-primary link" href="{% url 'completed_todos_list' %}" role="button">Completed Todos</a>
            <a class="btn btn-outline-primary link" href="{% url 'logout_user' %}" role="button">Logout</a>
            
        {% else %}
        
            <a class="btn btn-outline-primary link" href="{% url 'login_user' %}" role="button">Login</a>
            <a class="btn btn-outline-primary link" href="{% url 'register_user' %}" role="button">Register</a>

        {% endif %}

    </div>
</nav>